@media only screen and (min-width: 375px) {
  body {
    margin: 0 auto;
  }
}
@media only screen and (min-width: 425px) {
  body {
    margin: 0 auto;
  }
}
@media only screen and (min-width: 1440px) {
  .wrapper {
    font-size: 2em;
  }
}

footer {
  background-color: #2B2D30;
  height: 27vh;
  padding: 5%;
}
@media only screen and (min-width: 768px) {
  footer {
    height: 33vh;
  }
}
@media only screen and (min-width: 1440px) {
  footer {
    font-size: 1.3em;
    padding: 2%;
  }
}
@media screen and (min-width: 2560px) {
  footer {
    font-size: 1.6em;
    height: 28vh;
  }
}
footer .footer__heading {
  font-size: 1.3em;
  font-family: "Shrikhand", cursive;
  color: #E8E9EA;
  padding-bottom: 20px;
}
footer .footer__list {
  font-size: 1.2em;
  color: #E8E9EA;
  list-style-type: none;
  font-weight: 500;
}
footer .footer__list li {
  padding-bottom: 1%;
}
footer .footer__list li a {
  color: #fff;
  text-decoration: none;
}
@media only screen and (min-width: 1440px) {
  footer .footer__list li {
    padding-bottom: 1%;
  }
}
footer .footer__list li i {
  margin-right: 4%;
}

header .header {
  font-weight: bold;
  text-align: center;
  font-family: "Shrikhand", cursive;
  font-size: 2em;
}
@media only screen and (min-width: 1440px) {
  header {
    font-size: 1.5em;
  }
}
header .fa-arrow-left {
  display: block;
  position: absolute;
  top: 1%;
  left: 5%;
  color: #625454;
  font-size: 1.2em;
  font-weight: 100;
}
@media only screen and (min-width: 768px) {
  header .fa-arrow-left {
    left: 18%;
  }
}
@media only screen and (min-width: 1024px) {
  header .fa-arrow-left {
    left: 23%;
  }
}
@media only screen and (min-width: 1440px) {
  header .fa-arrow-left {
    left: 28%;
  }
}

.valider .valider__btn {
  display: block;
  text-align: center;
  margin: auto;
  width: 68%;
  padding: 4% 9%;
  border-radius: 50px;
  color: #fff;
  font-size: 0.9em;
  cursor: pointer;
  border: none;
  box-shadow: 5px 5px 6px 0px #c6c6c6;
  z-index: 1;
  background: linear-gradient(#FF79DA, #9356DC);
  position: relative;
  overflow: hidden;
  transition: background-color 250ms;
}
@media only screen and (min-width: 375px) {
  .valider .valider__btn {
    width: 60%;
  }
}
@media only screen and (min-width: 768px) {
  .valider .valider__btn {
    width: 50%;
    padding: 3%;
  }
}
@media only screen and (min-width: 1440px) {
  .valider .valider__btn {
    width: 26%;
    padding: 2% 5%;
    font-size: 0.5em;
  }
}
.valider .valider__btn:hover::after {
  opacity: 1;
}
.valider .valider__btn::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: radial-gradient(circle, #a16be0 0%, #ff46cc 100%);
  opacity: 0;
  z-index: -1;
  transition: opacity 250ms;
}

.valider--bis {
  margin-top: 20%;
}

* {
  margin: 0;
  padding: 0;
}

.wrapper {
  margin: 0 auto;
}
@media only screen and (min-width: 768px) {
  .wrapper {
    width: 70%;
    font-size: 1.3em;
  }
}
@media only screen and (min-width: 1024px) {
  .wrapper {
    width: 60%;
  }
}
@media only screen and (min-width: 1440px) {
  .wrapper {
    width: 80%;
  }
}
@media screen and (min-width: 2560px) {
  .wrapper {
    width: 60%;
    font-size: 1.5em;
  }
}
.wrapper .main__lieu {
  height: 4vh;
  background: linear-gradient(#CFCECF, #eaeaea, #eaeaea, #eaeaea, #eaeaea, #eaeaea);
  text-align: center;
  justify-content: center;
  font-weight: 400;
  padding-top: 2%;
}
@media only screen and (min-width: 768px) {
  .wrapper .main__lieu {
    height: 6vh;
  }
}
@media only screen and (min-width: 1440px) {
  .wrapper .main__lieu {
    font-size: 1.4em;
    height: 8vh;
    padding-top: 2%;
  }
}
@media screen and (min-width: 2560px) {
  .wrapper .main__lieu {
    font-size: 1.6em;
    padding-top: 2%;
    height: 6vh;
  }
}
.wrapper .main__lieu i {
  margin-right: 2%;
}
.wrapper .main__heading {
  background-color: #f6f6f6;
  padding: 0 0 8vh 0;
}
@media only screen and (min-width: 768px) {
  .wrapper .main__heading {
    padding: 0 0 4vh 0;
  }
}
@media only screen and (min-width: 1440px) {
  .wrapper .main__heading {
    font-size: 1.6em;
  }
}
.wrapper .main__heading .main__heading1 {
  font-weight: 600;
  text-align: center;
  padding-top: 11%;
  padding-bottom: 12%;
  font-size: 1.3em;
}
@media only screen and (min-width: 768px) {
  .wrapper .main__heading .main__heading1 {
    padding-top: 5%;
    padding-bottom: 6%;
  }
}
@media only screen and (min-width: 1440px) {
  .wrapper .main__heading .main__heading1 {
    padding-top: 2%;
    padding-bottom: 3%;
  }
}
.wrapper .main__heading .main__heading2 {
  display: block;
  text-align: center;
  margin-bottom: 8%;
  font-weight: 300;
  font-size: 1em;
}
@media only screen and (min-width: 768px) {
  .wrapper .main__heading .main__heading2 {
    margin-bottom: 4%;
  }
}
@media only screen and (min-width: 1440px) {
  .wrapper .main__heading .main__heading2 {
    margin-bottom: 2%;
  }
}
.wrapper #nav {
  padding: 10px;
  background-color: #FFF;
}
@media screen and (min-width: 2560px) {
  .wrapper #nav {
    font-size: 1.1em;
  }
}
.wrapper #nav h2 {
  margin: 10% 0 0% 4%;
  font-weight: 800;
}
@media only screen and (min-width: 1440px) {
  .wrapper #nav h2 {
    font-size: 1.8em;
    margin: 3% 0 0% 2%;
  }
}
.wrapper #nav .nav {
  padding-bottom: 0px;
}
@media only screen and (min-width: 768px) {
  .wrapper #nav .nav {
    font-size: 1.2em;
  }
}
.wrapper #nav .nav ol {
  background-color: #fff;
  padding-bottom: 10%;
  padding-top: 5%;
}
@media only screen and (min-width: 768px) {
  .wrapper #nav .nav ol {
    padding-bottom: 1%;
    padding-top: 1%;
  }
}
@media only screen and (min-width: 1440px) {
  .wrapper #nav .nav ol {
    font-size: 0.9em;
    display: flex;
    justify-content: space-around;
  }
}
.wrapper #nav .nav ol .nav__link--change {
  animation: progress 1500ms 400ms both;
}
@media only screen and (min-width: 1440px) {
  .wrapper #nav .nav ol .nav__link--change .nav__link--1 {
    left: 11.8%;
  }
}
@media screen and (min-width: 2560px) {
  .wrapper #nav .nav ol .nav__link--change .nav__link--1 {
    left: 20.5%;
  }
}
.wrapper #nav .nav ol .nav__link--change1 {
  animation: progress 1500ms 600ms both;
}
@media only screen and (min-width: 1440px) {
  .wrapper #nav .nav ol .nav__link--change1 .nav__link--2 {
    left: 38%;
  }
}
@media screen and (min-width: 2560px) {
  .wrapper #nav .nav ol .nav__link--change1 .nav__link--2 {
    left: 40.3%;
  }
}
.wrapper #nav .nav ol .nav__link--change2 {
  animation: progress 1500ms 1000ms both;
  background-color: #f5edff;
}
@media only screen and (min-width: 1440px) {
  .wrapper #nav .nav ol .nav__link--change2 .nav__link--3 {
    left: 64%;
  }
}
@media screen and (min-width: 2560px) {
  .wrapper #nav .nav ol .nav__link--change2 .nav__link--3 {
    left: 60%;
  }
}
.wrapper #nav .nav ol .nav__link {
  list-style-type: none;
  width: 80%;
  padding: 5%;
  border-radius: 20px;
  font-size: 1em;
  margin: 5% auto 6% auto;
  background-color: #f6f6f6;
  box-shadow: 5px 5px 6px 0px #c6c6c6;
  cursor: pointer;
}
@media only screen and (min-width: 768px) {
  .wrapper #nav .nav ol .nav__link {
    padding: 2%;
  }
}
@media only screen and (min-width: 1440px) {
  .wrapper #nav .nav ol .nav__link {
    width: 29%;
    font-size: 0.9em;
    padding: 1%;
    margin: 1% auto 4% auto;
  }
}
@media only screen and (min-width: 1440px) {
  .wrapper #nav .nav ol .nav__link .fa-mobile-alt {
    left: 15.5%;
  }
}
@media screen and (min-width: 2560px) {
  .wrapper #nav .nav ol .nav__link .fa-mobile-alt {
    left: 23.6%;
  }
}
@media only screen and (min-width: 1440px) {
  .wrapper #nav .nav ol .nav__link .fa-th-list {
    left: 41%;
  }
}
@media screen and (min-width: 2560px) {
  .wrapper #nav .nav ol .nav__link .fa-th-list {
    left: 42.7%;
  }
}
@media only screen and (min-width: 1440px) {
  .wrapper #nav .nav ol .nav__link .fa-store {
    left: 67%;
  }
}
@media screen and (min-width: 2560px) {
  .wrapper #nav .nav ol .nav__link .fa-store {
    left: 62.5%;
  }
}
.wrapper #nav .nav ol .nav__link div {
  position: absolute;
  left: 10%;
  border-radius: 50%;
  background-color: #9356DC;
  padding: 10px 6px;
  line-height: 0px;
  color: #fff;
  font-size: 0.8em;
}
@media only screen and (min-width: 768px) {
  .wrapper #nav .nav ol .nav__link div {
    left: 22%;
    padding: 12px 6px;
  }
}
@media only screen and (min-width: 1024px) {
  .wrapper #nav .nav ol .nav__link div {
    left: 26%;
  }
}
@media screen and (min-width: 2560px) {
  .wrapper #nav .nav ol .nav__link div {
    font-size: 1.1em;
    padding: 19px 10px;
  }
}
.wrapper #nav .nav ol .nav__link i {
  display: block;
  position: absolute;
  left: 20%;
  line-height: 18px;
  color: #9356DC;
  font-size: 1em;
}
@media only screen and (min-width: 768px) {
  .wrapper #nav .nav ol .nav__link i {
    left: 29%;
  }
}
@media only screen and (min-width: 1024px) {
  .wrapper #nav .nav ol .nav__link i {
    left: 33%;
  }
}
@media only screen and (min-width: 1440px) {
  .wrapper #nav .nav ol .nav__link i {
    position: absolute;
    margin-top: 0.2%;
  }
}
@media screen and (min-width: 2560px) {
  .wrapper #nav .nav ol .nav__link i {
    margin-top: 0.4%;
  }
}
.wrapper #nav .nav ol .nav__link p {
  overflow: hidden;
  text-align: left;
  margin-left: 22%;
  font-size: 0.8em;
  font-weight: 500;
}
@media only screen and (min-width: 1440px) {
  .wrapper #nav .nav ol .nav__link p {
    font-size: 0.9em;
  }
}
@media screen and (min-width: 2560px) {
  .wrapper #nav .nav ol .nav__link p {
    font-size: 0.97em;
  }
}
.wrapper main {
  background-color: #f6f6f6;
  padding-bottom: 20%;
}
@media only screen and (min-width: 1440px) {
  .wrapper main {
    padding-bottom: 5%;
  }
}
@media screen and (min-width: 2560px) {
  .wrapper main {
    font-size: 1.4em;
  }
}
.wrapper main a {
  text-decoration: none;
  color: #000;
}
.wrapper main h2 {
  margin-left: 7%;
  font-weight: bold;
  padding-top: 15%;
  margin-bottom: 5%;
}
@media only screen and (min-width: 1440px) {
  .wrapper main h2 {
    font-size: 2em;
    margin-left: 3%;
    padding-top: 3%;
    margin-bottom: 2%;
  }
}
@media only screen and (min-width: 1440px) {
  .wrapper main .restaurant1 {
    display: flex;
    justify-content: space-evenly;
  }
}
.wrapper main ul {
  list-style-type: none;
}
@media only screen and (min-width: 1440px) {
  .wrapper main ul .restaurant__new--1 {
    left: 77%;
  }
}
.wrapper main ul .restaurant__new {
  display: block;
  background-color: #99E2D0;
  padding: 2%;
  width: 17%;
  height: 4vh;
  text-align: center;
  align-items: center;
  border-radius: 5px;
  position: absolute;
  right: 10%;
  margin-top: 2%;
}
@media only screen and (min-width: 768px) {
  .wrapper main ul .restaurant__new {
    right: 9%;
    width: 14%;
    padding: 2%;
    height: 6vh;
  }
}
@media only screen and (min-width: 1440px) {
  .wrapper main ul .restaurant__new {
    height: 5vh;
  }
}
@media screen and (min-width: 2560px) {
  .wrapper main ul .restaurant__new {
    height: 4vh;
  }
}
.wrapper main ul li {
  margin-bottom: 25px;
  position: relative;
}
.wrapper main ul li img {
  display: block;
  width: 90%;
  height: 20vh;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px 10px 0 0;
}
@media only screen and (min-width: 375px) {
  .wrapper main ul li img {
    height: 23vh;
  }
}
@media only screen and (min-width: 768px) {
  .wrapper main ul li img {
    height: 30vh;
  }
}
@media only screen and (min-width: 1024px) {
  .wrapper main ul li img {
    height: 35vh;
  }
}
@media only screen and (min-width: 1440px) {
  .wrapper main ul li img {
    height: 28vh;
  }
}
@media screen and (min-width: 2560px) {
  .wrapper main ul li img {
    height: 24vh;
  }
}
.wrapper main ul li iframe {
  width: 20%;
  height: 20%;
  position: absolute;
  top: 5%;
  left: 10%;
}
.wrapper main ul li div {
  width: 90%;
  height: 8vh;
  background-color: #FEFFFF;
  margin-right: auto;
  margin-left: auto;
  border-radius: 0 0 15px 15px;
  padding: 4% 0 0 3%;
}
@media only screen and (min-width: 768px) {
  .wrapper main ul li div {
    height: 11vh;
  }
}
@media only screen and (min-width: 1440px) {
  .wrapper main ul li div {
    height: 10vh;
  }
}
@media screen and (min-width: 2560px) {
  .wrapper main ul li div {
    height: 8vh;
  }
}
.wrapper main ul li p {
  font-weight: bold;
  text-transform: uppercase;
}
@media only screen and (min-width: 1440px) {
  .wrapper main ul li .fa-heart--bis {
    left: 82%;
  }
}
.wrapper main ul li .fa-heart {
  display: inline-block;
  position: absolute;
  right: 9%;
  font-size: 1.5em;
  margin-top: 1%;
  color: wheat;
  cursor: pointer;
}
@media only screen and (min-width: 768px) {
  .wrapper main ul li .fa-heart {
    right: 10%;
  }
}
@keyframes progress {
  0% {
    height: 1%;
  }
  10%, 20%, 28% {
    height: 10%;
  }
  35%, 40%, 45%, 50% {
    height: 20%;
  }
  57%, 60%, 65% {
    height: 40%;
  }
  70%, 75%, 80% {
    height: 50%;
  }
  85%, 86%, 88%, 90% {
    height: 80%;
  }
  100% {
    height: 100%;
  }
}
@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
body {
  font-family: "Roboto", sans-serif;
}
body .container {
  box-sizing: border-box;
}
@media only screen and (min-width: 768px) {
  body .container {
    width: 70%;
    margin: 0 auto;
  }
}
@media only screen and (min-width: 1024px) {
  body .container {
    width: 60%;
  }
}
@media only screen and (min-width: 1440px) {
  body .container {
    width: 50%;
    font-size: 1.3em;
  }
}
@media screen and (min-width: 2560px) {
  body .container {
    font-size: 2.2em;
  }
}
body .container .restaurant__img {
  position: absolute;
  height: 540vh;
}
@media only screen and (min-width: 768px) {
  body .container .restaurant__img {
    width: 70%;
  }
}
@media only screen and (min-width: 1024px) {
  body .container .restaurant__img {
    width: 60%;
  }
}
@media only screen and (min-width: 1440px) {
  body .container .restaurant__img {
    width: 50%;
  }
}
body .container .restaurant__img img {
  width: 100%;
}
body .container a {
  text-decoration: none;
  color: #000;
}
body .container #menu {
  background-color: #f6f6f6;
  border-radius: 40px 40px 0 0;
  opacity: 0.99;
  margin-top: 54%;
  padding: 1%;
  padding-bottom: 20%;
}
@media only screen and (min-width: 1024px) {
  body .container #menu {
    border-radius: 60px 60px 0 0;
  }
}
@media screen and (min-width: 2560px) {
  body .container #menu {
    border-radius: 120px 120px 0 0;
  }
}
body .container #menu .heading1 {
  font-family: "Shrikhand", cursive;
  margin-bottom: 7%;
  padding-top: 10%;
  font-size: 1.5em;
  padding-left: 3%;
  display: flex;
}
body .container #menu .heading1 .menu__icon {
  display: inline-block;
  margin-left: 23%;
}
body .container #menu .heading1 .menu__icon .fa-heart-o {
  font-size: 1.3em;
  display: inline-block;
  cursor: pointer;
  position: relative;
}
body .container #menu .heading1 .menu__icon .fa-heart-o:hover .fa-heart {
  animation: progress-bar 1000ms;
}
body .container #menu .heading1 .menu__icon .fa-heart-o .fa-heart {
  color: #9356DC;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0%;
  transform: scaleY(0);
}
body .container #menu .heading2 {
  font-size: 1.1em;
  padding-bottom: 1%;
  color: dimgray;
  font-weight: 400;
  padding-left: 4%;
}
@media only screen and (min-width: 768px) {
  body .container #menu .heading2 {
    font-size: 1.3em;
  }
}
body .container #menu .divider {
  display: block;
  width: 10%;
  border: solid 1px #99E2D0;
  margin-left: 4%;
}
body .container #menu .menu {
  list-style-type: none;
  padding-top: 5%;
}
body .container #menu .menu .menu__plat--1 {
  animation: progress 1000ms 400ms both;
}
body .container #menu .menu .menu__plat--2 {
  animation: progress 1000ms 600ms both;
}
body .container #menu .menu .menu__plat--3 {
  animation: progress 1000ms 800ms both;
}
body .container #menu .menu .menu__plat--3bis {
  animation: progress 1000ms 1000ms both;
}
body .container #menu .menu .menu__plat--4 {
  animation: progress 1000ms 1200ms both;
}
body .container #menu .menu .menu__plat--5 {
  animation: progress 1000ms 1400ms both;
}
body .container #menu .menu .menu__plat--6 {
  animation: progress 1000ms 1600ms both;
}
body .container #menu .menu .menu__plat--7 {
  animation: progress 1000ms 1800ms both;
}
body .container #menu .menu .menu__plat--8 {
  animation: progress 1000ms 2000ms both;
}
body .container #menu .menu .menu__plat--9 {
  animation: progress 1000ms 2200ms both;
  margin-bottom: 12%;
}
body .container #menu .menu__plat {
  width: 95%;
  margin: auto;
  padding: 3%;
  background-color: #FFF;
  margin-bottom: 4%;
  z-index: 1;
  border-radius: 15px;
  box-shadow: 5px 5px 6px 0px #c6c6c6;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}
@media screen and (min-width: 2560px) {
  body .container #menu .menu__plat {
    border-radius: 45px;
  }
}
body .container #menu .menu__plat:hover {
  background-color: #f5edff;
}
body .container #menu .menu__plat:hover .menu__animation {
  transform: translateX(-90%);
}
body .container #menu .menu__plat:hover .menu__animation .fa-check {
  transform: rotate(360deg);
}
body .container #menu .menu__plat:hover .menu__name .menu__hidden1 {
  visibility: hidden;
  display: inline-block;
  z-index: -1;
}
body .container #menu .menu__plat:hover .menu__name .menu__hidden1::before {
  opacity: 1;
  visibility: visible;
  z-index: 1;
}
body .container #menu .menu__plat:hover .menu__plus .menu__hidden {
  visibility: hidden;
  display: inline-block;
  z-index: -1;
}
body .container #menu .menu__plat:hover .menu__plus .menu__hidden::before {
  opacity: 1;
  visibility: visible;
  z-index: 1;
}
body .container #menu .menu__plat:hover .menu__plus .menu__price {
  transform: translateX(-240%);
}
@media only screen and (min-width: 768px) {
  body .container #menu .menu__plat:hover .menu__plus .menu__price {
    transform: translateX(-310%);
  }
}
@media only screen and (min-width: 1024px) {
  body .container #menu .menu__plat:hover .menu__plus .menu__price {
    transform: translateX(-360%);
  }
}
body .container #menu .menu__plat .menu__animation {
  opacity: 1;
  position: absolute;
  display: flex;
  top: 0px;
  bottom: 0px;
  right: -20%;
  background-color: #99E2D0;
  width: 20%;
  height: auto;
  z-index: 1;
  border-radius: 0 15px 15px 0;
  transform-origin: left;
  transform: translateX(0);
  transition: transform 300ms 50ms ease-in-out;
}
@media screen and (min-width: 2560px) {
  body .container #menu .menu__plat .menu__animation {
    border-radius: 0 45px 45px 0;
  }
}
body .container #menu .menu__plat .menu__animation .fa-check {
  margin: auto;
  color: #99E2D0;
  border-radius: 50%;
  background-color: #fff;
  padding: 2% 2%;
  opacity: 1;
  transform: rotate(0);
  transition: transform 300ms 100ms cubic-bezier(1, 0, 0.77, 0.44);
}
body .container #menu .menu__plat .menu__name {
  font-weight: 500;
  padding-bottom: 6px;
  font-size: 1.2em;
}
body .container #menu .menu__plat .menu__name .menu__hidden1 {
  position: relative;
  transform-origin: left;
  opacity: 1;
  z-index: 1;
}
body .container #menu .menu__plat .menu__name .menu__hidden1::before {
  position: absolute;
  content: "...";
  opacity: 0;
  z-index: -1;
}
body .container #menu .menu__plat .menu__plus {
  color: #050505;
  font-weight: 400;
  font-size: 0.9em;
  display: inline-block;
}
body .container #menu .menu__plat .menu__plus .menu__hidden {
  position: relative;
  transform-origin: left;
  opacity: 1;
  z-index: 1;
}
body .container #menu .menu__plat .menu__plus .menu__hidden::before {
  position: absolute;
  content: "...";
  opacity: 0;
  z-index: -1;
}
body .container #menu .menu__plat .menu__plus .menu__price {
  position: absolute;
  display: inline-block;
  right: 3%;
  font-size: 1.1em;
  margin-left: 5%;
  font-weight: bold;
  transform: translateX(0);
  transition: transform 300ms 50ms ease-in-out;
}

@keyframes progress {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes progress-bar {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}
* {
  box-sizing: border-box;
}

.spinner {
  position: relative;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  margin: auto;
  display: flex;
}
.spinner__text {
  font-size: 2em;
  font-weight: bold;
  margin-top: 150%;
  animation: loading-opacity 3s ease-in-out infinite;
}
.spinner__section {
  border-radius: 50%;
  position: absolute;
  width: 100%;
  height: 100%;
  border: 15px solid transparent;
  margin-top: 150%;
}
.spinner__section--1 {
  border-top: 15px solid #9356DC;
  animation: spin 1s ease infinite;
}
.spinner__section--2 {
  border-top: 15px solid #FF79DA;
  animation: spin 2s ease-in infinite;
}
.spinner__section--3 {
  border-top: 15px solid #99E2D0;
  animation: spin 1.5s ease-out infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes loading-opacity {
  0%, 100% {
    opacity: 1;
  }
  25%, 75% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.1;
  }
}

/*# sourceMappingURL=style.css.map */
