footer {
    background-color: #2B2D30;
    height: 27vh;
    padding: 5%;
    height: auto;


    @include responsive (tab-port) {
        padding: 2%;
    }

    @include responsive (desktop-big) {
        font-size: 1.3em;
    }

    @include responsive (desktop-big-plus) {
        font-size: 1.6em;
    }


    .footer__heading {
        font-size: 1.2em;
        font-family: 'Shrikhand', cursive;
        color: #E8E9EA;
        padding-bottom: 20px;
    }

    .footer__list {
        color: #E8E9EA;
        list-style-type: none;
        font-weight: 500;

        li {
            padding-bottom: 1%;

            a {
                color: #fff;
                text-decoration: none;
            }

            @include responsive (desktop-big) {
                padding-bottom: 1%;
            }

            i {
                margin-right: 4%;
            }
        }
    }
}
