
$clr-primary: #9356DC;
$clr-secondary: #FF79DA;
$clr-tertiaire: #99E2D0;

//
* {
	margin:0;
	padding:0;
}

body {
	

	header {

		.header {
			font-weight: bold;
			text-align: center;
			font-family: 'Shrikhand', cursive;
			font-size: 2em;
		}
	}
	//main
	.main {



		&__lieu {
			height: 40px;
			background: linear-gradient(#CFCECF, #eaeaea,#eaeaea,#eaeaea, #eaeaea, #eaeaea);
			padding-top: 15px;
			text-align: center;
			margin-top: 10px;
			font-weight: 500;


			i {
				margin-right: 15px
			}
		}


		&__heading {
			background-color: #f6f6f6;
			padding-bottom: 50px;

			.main__heading1 {
				font-weight: 600;
				text-align: center;
				padding-top: 20px;
				padding-bottom: 20px;
			}

			.main__heading2 {
				display: block;
				text-align: center;
				margin-bottom: 30px;
				font-weight: 300;
				font-size: 1.2em;
			}

			.main__btn {
				display: block;
				background-image: linear-gradient( #FF79DA, #9356DC);
				position: relative;
				box-shadow: 5px 5px 6px 0px #c6c6c6;
				text-align: center;
				margin: auto;
				font-size: 1.2em;
				padding: 15px 35px;
				border-radius: 60px;
				color: #fff;
				background-size: 150%;
				cursor: pointer;
				border: none;
				transform: scale(1);
				transition: transform 400ms,background-color 300ms 150ms ease-in-out;

				&:hover {
					transform: scale(1.15);
				}
			}
		}
	}
	//nav second section
	#nav {
		padding: 10px;
		background-color: #FFF;

		h2 {
			margin: 30px 0 15px 15px;
			font-weight: 600;
		}

		.nav {
			padding-bottom: 0px;

			ol {
				padding: 10px;
				background-color: #fff;
				padding-bottom: 30px;

				.nav__link--active {
					animation: progress 1000ms 300ms both;
				}

				.nav__link--change1 {
					animation: progress 1000ms 500ms both;
				}

				.nav__link--change2 {
					animation: progress 1000ms 600ms both;
				}

				.nav__link {
					list-style-type: none;
					width: 80%;
					padding: 20px;
					border-radius: 15px;
					font-size: 1em;
					margin: 10px auto 20px auto;
					background-color: #f6f6f6;
					box-shadow: 5px 5px 6px 0px #c6c6c6;
					cursor: pointer;

					&:hover {
						background-color: #f5edff;
					}

					div {
						overflow: hidden;
						position: absolute;
						left: 20px;
						border-radius: 50%;
						background-color: #9356DC;
						padding: 12px 10px;
						line-height: 3px;
						color: #fff;
					}

					i {
						overflow: hidden;
						display: block;
						position: absolute;
						left: 70px;
						line-height: 18px;
						color: $clr-primary;
						font-size: 2em;
					}

					p {
						overflow: hidden;
						text-align: left;
						margin-left: 50px;
						font-size: 0.9em;
						font-weight: 500;
					}
				}
			}
		}
	}
	//troisieme section
	#restaurant {
		background-color: #f6f6f6;
		padding-bottom: 40px;

		.restaurant__new {
			display: block;
			background-color: #99E2D0;
			padding: 8px;
			width: 70px;
			height: 20px;
			text-align: center;
			border-radius: 5px;
			position: absolute;
			right: 24px;
			margin-top: 20px;
		}

		h2 {
			margin-left: 25px;
			font-weight: bold;
			padding-top: 40px;
			margin-bottom: 10px;
		}

		ul {
			margin-bottom: 40px;
			list-style-type: none;

			li {
				margin-bottom: 25px;

				img {
					display: block;
					width: 90%;
					height: 200px;
					margin-left: auto;
					margin-right: auto;
					border-radius: 10px 10px 0 0;
				}

				div {
					width: 90%;
					height: 60px;
					background-color: #FEFFFF;
					margin-right: auto;
					margin-left: auto;
					border-radius: 0 0 10px 10px;


					p {
						font-weight: bold;
						text-transform: uppercase;
						padding: 10px 0 0 5px;
					}

					small {
						padding-left: 5px;
					}

					.fa-heart-o {
						display: block;
						position: absolute;
						right: 35px;
						font-size: 1.7em;
						margin-top: 15px;
						color: #000;
						cursor: pointer;

						&:hover {
							.fa-heart {
								opacity: 1;
							}
						}

						.fa-heart {
							position: absolute;
							right: 0px;
							color: #d36bda;
							opacity: 0;
						}
					}
				}
			}
		}
	}

	footer {
		background-color: #2B2D30;
		height: 190px;
		padding: 18px;

		.footer__heading {
			font-size: 1.3em;
			font-family: 'Shrikhand', cursive;
			color: #E8E9EA;
			padding-bottom: 20px;
		}

		.footer__list {
			font-size: 1.2em;
			color: #E8E9EA;
			list-style-type: none;
			font-weight: 500;

			li {
				padding-bottom: 10px;


				i {
					margin-right: 12px;
				}
			}
		}
	}
}
@keyframes progress{
	0%{
		
		opacity:0;
	}
	26% {
		opacity: 0;
	}
	36% {
		opacity: 0;
	}
	46% {
		opacity: 0;
	}
	56% {
		opacity: 0;
	}
	66% {
		opacity: 0;
	}
	87% {
		opacity: 0;
	}
	90% {
		opacity: .1;
	}
   97% {
		opacity: .30;
	}
	

	100% {
		
		opacity: 1;
	}
}
