$clr-primary: #9356DC;
$clr-secondary: #FF79DA;
$clr-tertiaire: #99E2D0;
@mixin responsive($breakpoint) {
    @if $breakpoint == phone {
        @media only screen and (min-width: 375px) {
            @content
        }
    }

    @if $breakpoint == phone1 {
        @media only screen and (min-width: 425px) {
            @content
        }
    }

    @if $breakpoint == tab-port {
        @media only screen and (min-width: 768px) {
            @content
        }
    }

    @if $breakpoint == tab-land {
        @media only screen and (min-width: 1024px) {
            @content
        }
    }

    @if $breakpoint == desktop-big {
        @media screen and (min-width: 1440px) {
            @content
        }
    }

    @if $breakpoint == desktop-big-plus {
        @media screen and (min-width: 2560px) {
            @content
        }
    }
}

body {
    font-family: 'Roboto', sans-serif;


    .container {
        box-sizing: border-box;


        @include responsive (tab-port) {
            width: 70%;
            margin: 0 auto;
        }

        @include responsive (tab-land) {
            width: 60%;
        }

        @include responsive (desktop-big) {
            width: 50%;
            font-size: 1.3em;
        }

        @include responsive (desktop-big-plus) {
            font-size: 2.2em;
        }


        header {
            .header {
                font-weight: bold;
                text-align: center;
                font-family: 'Shrikhand', cursive;
                font-size: 2em;
            }

            .fa-arrow-left {
                display: block;
                position: absolute;
                top: 1%;
                left: 5%;
                color: #625454;
                font-size: 1.2em;
                font-weight: 100;

                @include responsive (tab-port) {
                    left: 18%;
                }

                @include responsive (tab-land) {
                    left: 23%;
                }

                @include responsive (desktop-big) {
                    left: 28%;
                }
            }
        }
        //image en haut de la page
        .restaurant__img {
            position: absolute;
            height: 540vh;

            @include responsive (tab-port) {
                width: 70%;
            }

            @include responsive (tab-land) {
                width: 60%;
            }

            @include responsive (desktop-big) {
                width: 50%;
            }

            img {
                width: 100%;
            }
        }

        a {
            text-decoration: none;
            color: #000;
        }
        //menu des pages
        #menu {
            background-color: #f6f6f6;
            border-radius: 40px 40px 0 0;
            opacity: 0.99;
            margin-top: 54%;
            padding: 1%;

            @include responsive (tab-land) {
                border-radius: 60px 60px 0 0;
            }

            @include responsive (desktop-big-plus) {
                border-radius: 120px 120px 0 0;
            }

            .menu__icon {
                display: inline-block;

                .fa-heart-o {
                    color: #000;
                    font-size: 1.1em;
                    margin-left: 80px;
                    cursor: pointer;
                    position: relative;

                    @include responsive (phone) {
                        margin-left: 180px;
                    }

                    @include responsive (tab-port) {
                        margin-left: 280px;
                    }

                    @include responsive (tab-land) {
                        margin-left: 350px;
                    }

                    @include responsive (desktop-big-plus) {
                        margin-left: 670px;
                    }

                    &:hover {
                        .fa-heart {
                            opacity: 1;
                        }
                    }

                    .fa-heart {
                        color: #d36bda;
                        opacity: 0;
                        position: absolute;
                        right: 0px;
                    }
                }
            }


            .heading1 {
                font-family: 'Shrikhand', cursive;
                margin-bottom: 5%;
                padding-top: 5%;
                font-size: 1.5em;
                padding-left: 3%;
            }


            .heading2 {
                font-size: 1.1em;
                padding-top: 6%;
                padding-bottom: 1%;
                color: dimgray;
                font-weight: 400;
                padding-left: 4%;

                @include responsive (tab-port) {
                    font-size: 1.3em;
                }
            }

            .divider {
                display: block;
                width: 10%;
                border: solid 1px $clr-tertiaire;
                margin-left: 4%;
            }

            .menu {
                list-style-type: none;
                padding-top: 5%;


                .menu__plat--1 {
                    animation: progress 800ms 250ms both;
                }

                .menu__plat--2 {
                    animation: progress 800ms 450ms both;
                }

                .menu__plat--3 {
                    animation: progress 800ms 550ms both;
                }

                .menu__plat--4 {
                    animation: progress 800ms 700ms both;
                }



                &__plat {
                    width: 90%;
                    margin: auto;
                    padding: 3%;
                    background-color: #FFF;
                    margin-bottom: 4%;
                    z-index: 1;
                    border-radius: 15px;
                    box-shadow: 5px 5px 6px 0px #c6c6c6;
                    position: relative;
                    cursor: pointer;
                    overflow: hidden;

                    @include responsive (desktop-big-plus) {
                        border-radius: 45px;
                    }


                    &:hover {
                        background-color: #f5edff;

                        & .menu__animation {
                            transform: translateX(-90%);


                            .fa-check {
                                transform: rotate(360deg);
                            }
                        }



                        & .menu__name {
                            .menu__hidden1 {
                                visibility: hidden;
                                display: inline-block;
                                z-index: -1;

                                &::before {
                                    opacity: 1;
                                    visibility: visible;
                                    z-index: 1;
                                }
                            }
                        }

                        & .menu__plus {
                            .menu__hidden {
                                visibility: hidden;
                                display: inline-block;
                                z-index: -1;

                                &::before {
                                    opacity: 1;
                                    visibility: visible;
                                    z-index: 1;
                                }
                            }

                            & .menu__price {
                                transform: translateX(-240%);

                                @include responsive (tab-port) {
                                    transform: translateX(-260%);
                                }

                                @include responsive (tab-land) {
                                    transform: translateX(-290%);
                                }
                            }
                        }
                    }

                    .menu__animation {
                        opacity: 1;
                        position: absolute;
                        display: flex;
                        top: 0px;
                        bottom: 0px;
                        right: -20%;
                        background-color: $clr-tertiaire;
                        width: 20%;
                        height: auto;
                        z-index: 1;
                        border-radius: 0 15px 15px 0;
                        transform-origin: left;
                        transform: translateX(0);
                        transition: transform 300ms 50ms ease-in-out;

                        @include responsive (desktop-big-plus) {
                            border-radius: 0 45px 45px 0;
                        }

                        .fa-check {
                            margin: auto;
                            color: $clr-tertiaire;
                            border-radius: 50%;
                            background-color: #fff;
                            padding: 2% 2%;
                            opacity: 1;
                            transform: rotate(0);
                            transition: transform 300ms 100ms cubic-bezier(1,0,.77,.44);
                        }
                    }



                    .menu__name {
                        font-weight: 500;
                        padding-bottom: 6px;
                        font-size: 1.2em;

                        .menu__hidden1 {
                            position: relative;
                            transform-origin: left;
                            opacity: 1;
                            z-index: 1;

                            &::before {
                                position: absolute;
                                content: "...";
                                opacity: 0;
                                z-index: -1;
                            }
                        }
                    }

                    .menu__plus {
                        color: #050505;
                        font-weight: 400;
                        font-size: .90em;
                        display: inline-block;

                        .menu__hidden {
                            position: relative;
                            transform-origin: left;
                            opacity: 1;
                            z-index: 1;

                            &::before {
                                position: absolute;
                                content: "...";
                                opacity: 0;
                                z-index: -1;
                            }
                        }

                        .menu__price {
                            position: absolute;
                            display: inline-block;
                            right: 3%;
                            font-size: 1.1em;
                            margin-left: 5%;
                            font-weight: bold;
                            transform: translateX(0);
                            transition: transform 300ms 50ms ease-in-out;
                        }
                    }
                }
            }
            //button valider
            .valider {
                padding-bottom: 20%;
                padding-top: 10%;

                @include responsive (tab-land) {
                }

                .valider__btn {
                    display: block;
                    text-align: center;
                    margin: auto;
                    width: 50%;
                    padding: 4%;
                    border-radius: 55px;
                    color: #fff;
                    font-size: 1.1em;
                    cursor: pointer;
                    border: none;
                    box-shadow: 5px 5px 6px 0px #c6c6c6;
                    z-index: 1;
                    background: linear-gradient(#FF79DA, #9356DC);
                    position: relative;
                    overflow: hidden;
                    transform: scale(1);
                    transition: transform 400ms,background-color 300ms 150ms ease-in-out;

                    @include responsive (tab-port) {
                        width: 50%;
                        padding: 3%;
                    }

                    &:hover {
                        transform: scale(1.10);
                    }
                }
            }
        }

        footer {
            background-color: #2B2D30;
            height: 28vh;
            padding: 5%;
            font-size: 1.3em;

            .footer__heading {
                font-family: 'Shrikhand', cursive;
                color: #E8E9EA;
                padding-bottom: 20px;
            }

            .footer__list {
                color: #E8E9EA;
                list-style-type: none;
                font-weight: 500;

                li {
                    padding-bottom: 3%;


                    i {
                        margin-right: 4%;
                    }
                }
            }
        }
    }
}

    @keyframes progress {
        0% {
            opacity: 0;
        }


        100% {
            opacity: 1;
        }
    }

    @keyframes progress1 {
        0% {
            opacity: 1;
        }


        100% {
            opacity: 0;
        }
    }

    
