$clr-primary: #9356DC;
$clr-secondary: #FF79DA;
$clr-tertiaire: #99E2D0;



body {
    font-family: 'Roboto', sans-serif;


    header {
        i {
            display: block;
            position: absolute;
            top: 18px;
            left: 30px;
            color: gray;
        }
    }
    //image en haut de la page
    .restaurant__img {
        width: 100%;
        position: absolute;
        height: 400px;

        img {
            width: 100%;
        }
    }

    a {
        text-decoration: none;
        color: #000;
    }
    //menu des pages
    #menu {
        padding-top: 30px;
        background-color: #F1F2F3;
        border-radius: 40px 40px 0 0;
        opacity: 0.99;
        margin-top: 170px;


        .fa-heart-o {
            display: block;
            position: absolute;
            right: 20px;
            color: gray;
            font-size: 1.7em;
            margin-top: 5px;
        }

        .heading1 {
            font-weight: bold;
            font-family: 'Shrikhand', cursive;
            margin-bottom: 20px;
            padding-left: 10px;
        }


        .heading2 {
            font-size: 1em;
            margin-top: 10px;
            padding-left: 10px;
            padding-bottom: 5px;
            color: gray;
        }

        .divider {
            display: block;
            position: absolute;
            width: 10%;
            border: solid 1px $clr-tertiaire;
            margin-left: 10px;
        }



        .menu {
            margin: auto;
            list-style-type: none;
            padding: 10px;
            margin-top: 10px;

            .menu__plat1 {
                animation: progress 800ms 250ms both;
            }

            .menu__plat2 {
                animation: progress 800ms 450ms both;
            }

            .menu__plat3 {
                animation: progress 800ms 550ms both;
            }

            .menu__plat4 {
                animation: progress 800ms 700ms both;
            }



            &__plat {
                width: 100%;
                padding-bottom: 10px;
                background-color: #fff;
                margin-bottom: 15px;
                border-radius: 15px;
                box-shadow: 1px 1px 6px gray;

                &:hover {
                    background-color: #D2C1DC;

                    & + .menu__animation {
                        opacity: 0;

                        .fa-check {
                            opacity: 0;
                        }
                    }
                }

                .menu__price {
                    position: absolute;
                    right: 30px;
                    padding-top: 30px;
                    font-weight: bold;
                }

                .menu__name {
                    font-weight: 900;
                    margin-left: 10px;
                    font-size: 1em;
                    padding-top: 10px;
                    padding-bottom: 5px;
                    font-size: 1.2em;
                    letter-spacing: 1px;
                }

                .menu__plus {
                    margin-left: 10px;
                    color: #646365;
                    font-weight: 600;
                    font-size: 1em;
                }
            }

            .menu__animation {
                opacity: 0;
                position: absolute;
                right: -80px;
                background-color: $clr-tertiaire;
                width: 80px;
                height: 60px;
                white-space: nowrap;
                border-radius: 0 20px 20px 0;
                transition: transform 400ms ease-in-out;


                .fa-check {
                    overflow: hidden;
                    position: absolute;
                    right: 30px;
                    color: $clr-tertiaire;
                    border-radius: 50%;
                    background-color: #fff;
                    text-align: center;
                    padding: 3px 3px;
                    margin-top: 20px;
                    opacity: 0;
                }
            }
        }
        //button valider
        .valider {
            padding-bottom: 50px;
            padding-top: 10px;

            .valider__btn {
                display: block;
                text-align: center;
                margin: auto;
                width: 60%;
                padding: 15px;
                border-radius: 55px;
                color: #fff;
                background-color: $clr-secondary;
                cursor: pointer;
                border: none;
                box-shadow: 1px 1px 10px gray;
                z-index: 1;
                position: relative;
                overflow: hidden;
                transform: scale(1);
                transition: transform 400ms,background-color 300ms 150ms ease-in-out;

                &:hover {
                    transform: scale(1.15);

                    & ::after {
                        opacity: 1;
                    }
                }

                &::after {
                    content: "";
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    background-color: darken($clr-primary, 1);
                    opacity: 0.50;
                    z-index: -1;
                    transition: opacity 250ms;
                }
            }
        }
    }
}
@keyframes progress {
    0% {
        opacity: 0;
    }


    100% {
        opacity: 1;
    }
} 
