@media only screen and (min-width: 600px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/WIN10\/Desktop\/MessanPatricia_3_13092020\/sass\/base\/_mediaqueries\.scss}line{font-family:\000036}}
  body {
    margin: 0 auto; } }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/WIN10\/Desktop\/MessanPatricia_3_13092020\/sass\/pages\/_home\.scss}line{font-family:\000038}}
* {
  margin: 0;
  padding: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/WIN10\/Desktop\/MessanPatricia_3_13092020\/sass\/pages\/_home\.scss}line{font-family:\0000313}}
body {
  font-family: 'Roboto', sans-serif; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/WIN10\/Desktop\/MessanPatricia_3_13092020\/sass\/pages\/_home\.scss}line{font-family:\0000318}}
  body .header h1 {
    font-weight: bold;
    text-align: center;
    font-family: 'Shrikhand', cursive;
    font-size: 2em; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/WIN10\/Desktop\/MessanPatricia_3_13092020\/sass\/pages\/_home\.scss}line{font-family:\0000330}}
  body #accueil p {
    height: 40px;
    background-color: #C1C1C2;
    padding-top: 15px;
    text-align: center;
    margin-top: 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/WIN10\/Desktop\/MessanPatricia_3_13092020\/sass\/pages\/_home\.scss}line{font-family:\0000337}}
    body #accueil p i {
      margin-right: 15px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/WIN10\/Desktop\/MessanPatricia_3_13092020\/sass\/pages\/_home\.scss}line{font-family:\0000343}}
  body #accueil div {
    background-color: #F1F2F3;
    padding-bottom: 50px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/WIN10\/Desktop\/MessanPatricia_3_13092020\/sass\/pages\/_home\.scss}line{font-family:\0000347}}
    body #accueil div h2 {
      font-weight: bold;
      text-align: center;
      padding-top: 20px;
      padding-bottom: 20px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/WIN10\/Desktop\/MessanPatricia_3_13092020\/sass\/pages\/_home\.scss}line{font-family:\0000355}}
    body #accueil div em {
      display: block;
      text-align: center;
      margin-bottom: 30px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/WIN10\/Desktop\/MessanPatricia_3_13092020\/sass\/pages\/_home\.scss}line{font-family:\0000361}}
    body #accueil div .btn {
      display: block;
      text-align: center;
      margin: auto;
      font-size: 1.2em;
      padding: 15px;
      border-radius: 55px;
      color: black;
      background-color: #9356DC;
      cursor: pointer;
      border: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/WIN10\/Desktop\/MessanPatricia_3_13092020\/sass\/pages\/_home\.scss}line{font-family:\0000376}}
  body #nav {
    padding: 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/WIN10\/Desktop\/MessanPatricia_3_13092020\/sass\/pages\/_home\.scss}line{font-family:\0000379}}
    body #nav h2 {
      margin: 30px 0 15px 15px;
      font-weight: bold; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/WIN10\/Desktop\/MessanPatricia_3_13092020\/sass\/pages\/_home\.scss}line{font-family:\0000385}}
    body #nav .nav {
      padding-bottom: 40px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/WIN10\/Desktop\/MessanPatricia_3_13092020\/sass\/pages\/_home\.scss}line{font-family:\0000389}}
      body #nav .nav ul li {
        list-style-type: none;
        width: 80%;
        padding: 20px;
        background-color: #F1F2F3;
        border-radius: 20px;
        font-size: 1em;
        margin: 10px auto 20px auto; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/WIN10\/Desktop\/MessanPatricia_3_13092020\/sass\/pages\/_home\.scss}line{font-family:\0000399}}
        body #nav .nav ul li div {
          position: absolute;
          left: 12px;
          border-radius: 50%;
          background-color: #9356DC;
          padding: 12px 10px;
          line-height: 3px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/WIN10\/Desktop\/MessanPatricia_3_13092020\/sass\/pages\/_home\.scss}line{font-family:\00003108}}
        body #nav .nav ul li i {
          display: block;
          position: absolute;
          left: 60px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/WIN10\/Desktop\/MessanPatricia_3_13092020\/sass\/pages\/_home\.scss}line{font-family:\00003114}}
        body #nav .nav ul li p {
          text-align: left;
          margin-left: 50px;
          font-size: 0.9em; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/WIN10\/Desktop\/MessanPatricia_3_13092020\/sass\/pages\/_home\.scss}line{font-family:\00003124}}
  body #restaurant {
    background-color: #F1F2F3;
    padding-bottom: 40px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/WIN10\/Desktop\/MessanPatricia_3_13092020\/sass\/pages\/_home\.scss}line{font-family:\00003128}}
    body #restaurant .restaurant__new {
      display: block;
      background-color: #99E2D0;
      padding: 8px;
      width: 70px;
      height: 20px;
      text-align: center;
      border-radius: 5px;
      position: absolute;
      right: 24px;
      margin-top: 20px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/WIN10\/Desktop\/MessanPatricia_3_13092020\/sass\/pages\/_home\.scss}line{font-family:\00003141}}
    body #restaurant h2 {
      margin-left: 25px;
      font-weight: bold;
      padding-top: 40px;
      margin-bottom: 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/WIN10\/Desktop\/MessanPatricia_3_13092020\/sass\/pages\/_home\.scss}line{font-family:\00003148}}
    body #restaurant ul {
      margin-bottom: 40px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/WIN10\/Desktop\/MessanPatricia_3_13092020\/sass\/pages\/_home\.scss}line{font-family:\00003151}}
      body #restaurant ul li {
        margin-bottom: 25px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/WIN10\/Desktop\/MessanPatricia_3_13092020\/sass\/pages\/_home\.scss}line{font-family:\00003154}}
        body #restaurant ul li img {
          display: block;
          width: 90%;
          height: 200px;
          margin-left: auto;
          margin-right: auto;
          border-radius: 10px 10px 0 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/WIN10\/Desktop\/MessanPatricia_3_13092020\/sass\/pages\/_home\.scss}line{font-family:\00003163}}
        body #restaurant ul li div {
          width: 90%;
          height: 60px;
          background-color: #FEFFFF;
          margin-right: auto;
          margin-left: auto;
          border-radius: 0 0 10px 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/WIN10\/Desktop\/MessanPatricia_3_13092020\/sass\/pages\/_home\.scss}line{font-family:\00003172}}
          body #restaurant ul li div p {
            font-weight: bold;
            text-transform: uppercase;
            padding: 10px 0 0 5px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/WIN10\/Desktop\/MessanPatricia_3_13092020\/sass\/pages\/_home\.scss}line{font-family:\00003178}}
          body #restaurant ul li div small {
            padding-left: 5px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/WIN10\/Desktop\/MessanPatricia_3_13092020\/sass\/pages\/_home\.scss}line{font-family:\00003182}}
          body #restaurant ul li div i {
            display: block;
            position: absolute;
            right: 35px;
            font-size: 1.7em;
            margin-top: 15px;
            color: #ECECEE; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/WIN10\/Desktop\/MessanPatricia_3_13092020\/sass\/pages\/_home\.scss}line{font-family:\00003195}}
  body footer {
    background-color: #2B2D30;
    height: 190px;
    padding: 18px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/WIN10\/Desktop\/MessanPatricia_3_13092020\/sass\/pages\/_home\.scss}line{font-family:\00003200}}
    body footer h1 {
      font-weight: bold;
      font-family: 'Shrikhand', cursive;
      color: #E8E9EA;
      padding-bottom: 20px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/WIN10\/Desktop\/MessanPatricia_3_13092020\/sass\/pages\/_home\.scss}line{font-family:\00003207}}
    body footer ul {
      font-size: 1.2em;
      color: #E8E9EA;
      list-style-type: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/WIN10\/Desktop\/MessanPatricia_3_13092020\/sass\/pages\/_home\.scss}line{font-family:\00003212}}
      body footer ul li {
        padding-bottom: 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/WIN10\/Desktop\/MessanPatricia_3_13092020\/sass\/pages\/_home\.scss}line{font-family:\00003216}}
        body footer ul li i {
          margin-right: 12px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/WIN10\/Desktop\/MessanPatricia_3_13092020\/sass\/pages\/_restaurant\.scss}line{font-family:\000038}}
body {
  font-family: 'Roboto', sans-serif; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/WIN10\/Desktop\/MessanPatricia_3_13092020\/sass\/pages\/_restaurant\.scss}line{font-family:\0000313}}
  body header i {
    display: block;
    position: absolute;
    top: 18px;
    left: 30px;
    color: gray; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/WIN10\/Desktop\/MessanPatricia_3_13092020\/sass\/pages\/_restaurant\.scss}line{font-family:\0000322}}
  body .restaurant__img {
    width: 100%;
    position: absolute;
    height: 400px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/WIN10\/Desktop\/MessanPatricia_3_13092020\/sass\/pages\/_restaurant\.scss}line{font-family:\0000327}}
    body .restaurant__img img {
      width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/WIN10\/Desktop\/MessanPatricia_3_13092020\/sass\/pages\/_restaurant\.scss}line{font-family:\0000332}}
  body a {
    text-decoration: none;
    color: #000; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/WIN10\/Desktop\/MessanPatricia_3_13092020\/sass\/pages\/_restaurant\.scss}line{font-family:\0000337}}
  body .menu {
    padding-top: 30px;
    background-color: #F1F2F3;
    border-radius: 40px 40px 0 0;
    opacity: 0.99;
    margin-top: 170px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/WIN10\/Desktop\/MessanPatricia_3_13092020\/sass\/pages\/_restaurant\.scss}line{font-family:\0000345}}
    body .menu .fa-heart-o {
      display: block;
      position: absolute;
      right: 20px;
      color: gray;
      font-size: 1.7em;
      margin-top: 5px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/WIN10\/Desktop\/MessanPatricia_3_13092020\/sass\/pages\/_restaurant\.scss}line{font-family:\0000354}}
    body .menu h2 {
      font-weight: bold;
      font-family: 'Shrikhand', cursive;
      margin-bottom: 20px;
      padding-left: 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/WIN10\/Desktop\/MessanPatricia_3_13092020\/sass\/pages\/_restaurant\.scss}line{font-family:\0000362}}
    body .menu h3 {
      font-size: 1em;
      margin-top: 10px;
      padding-left: 10px;
      padding-bottom: 5px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/WIN10\/Desktop\/MessanPatricia_3_13092020\/sass\/pages\/_restaurant\.scss}line{font-family:\0000369}}
    body .menu .divider {
      display: block;
      position: absolute;
      width: 10%;
      border: solid 1px #99E2D0;
      margin-left: 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/WIN10\/Desktop\/MessanPatricia_3_13092020\/sass\/pages\/_restaurant\.scss}line{font-family:\0000379}}
    body .menu ul {
      margin: auto;
      list-style-type: none;
      padding: 10px;
      margin-top: 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/WIN10\/Desktop\/MessanPatricia_3_13092020\/sass\/pages\/_restaurant\.scss}line{font-family:\0000385}}
      body .menu ul li {
        width: 100%;
        padding-bottom: 10px;
        background-color: #fff;
        margin-bottom: 15px;
        border-radius: 15px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/WIN10\/Desktop\/MessanPatricia_3_13092020\/sass\/pages\/_restaurant\.scss}line{font-family:\0000393}}
        body .menu ul li p {
          margin-left: 10px;
          font-size: 1em;
          font-weight: bold;
          padding-top: 10px;
          padding-bottom: 2px;
          font-style: normal; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/WIN10\/Desktop\/MessanPatricia_3_13092020\/sass\/pages\/_restaurant\.scss}line{font-family:\00003102}}
        body .menu ul li small {
          margin-left: 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/WIN10\/Desktop\/MessanPatricia_3_13092020\/sass\/pages\/_restaurant\.scss}line{font-family:\00003106}}
        body .menu ul li div {
          position: absolute;
          right: 30px;
          padding-top: 30px;
          font-weight: bold; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/WIN10\/Desktop\/MessanPatricia_3_13092020\/sass\/pages\/_restaurant\.scss}line{font-family:\00003117}}
        body .menu ul li span .sous-menu {
          display: block;
          position: absolute;
          right: 50px;
          width: 50px;
          color: #99E2D0; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/WIN10\/Desktop\/MessanPatricia_3_13092020\/sass\/pages\/_restaurant\.scss}line{font-family:\00003128}}
    body .menu .valider {
      padding-bottom: 50px;
      padding-top: 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/WIN10\/Desktop\/MessanPatricia_3_13092020\/sass\/pages\/_restaurant\.scss}line{font-family:\00003132}}
      body .menu .valider .btn {
        display: block;
        text-align: center;
        margin: auto;
        width: 60%;
        padding: 15px;
        border-radius: 55px;
        color: #fff;
        background-color: #9356DC;
        cursor: pointer;
        border: none; }
