//variables

$clr-primary: #9356DC;
$clr-secondary: #FF79DA;
$clr-tertiaire: #99E2D0;
//"sass": "sass --watch  ./sass/main.scss:./css/style.css ",
//"prefix": "postcss  ./css/style.css  autoprefixer -d ./css/prefixed/"